<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Palanquin+Dark:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="css/folha.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="login.js"></script> 
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
    <title>Login</title>
    
    <!-- Bootstrap -->
   
    
  </head>

  <body>
  

  <div class="container px-4">
    <div class="row gx-5">
      <div class="col">
       <div>
        <a href="index.html"><img src="css/img/soabolinha.png" height="250" width="250" class="rounded mx-auto d-block" alt="Logotipo"></a>
       </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
          <form class="form-signin">

         

		
	  
          <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Email</label>

              <input type="email" name="login" id="login" class="form-control" required autofocus>
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Senha</label>
              <input type="password" name="senha" id="senha" class="form-control" required autofocus>
              <a href>Esqueci minha senha</a>
       
          
            <div id="validacao-login"></div>
         
        </div>
      
            <button class="btn btn-lg btn-primary btn-block" type="button" id="btn-acessar">Logar</button>
          
          </div>
         
          </form>
        </div>
      </div>
    </div>
  

</body>